YANDEX_API_KEY=51f19831-2995-4814-9cd4-a1ea4d316110

GMAPS_API_KEY='AIzaSyBsdxRpx7RgmUHCuf-mVHirURz76lV4mPA'
GMAPS_API_URL='https://maps.googleapis.com/maps/api/geocode/json'

DJANGO_SECRET_KEY='CHANGE_ME_DJANGO_SECRET_KEY'
DJANGO_REQUESTS_LOG='/app/logs/django_requests.log'
DJANGO_DEBUG_LOG='/app/logs/django_debug.log'
DJANGO_DEBUG=True

DB_ENGINE='django.db.backends.postgresql'
DB_NAME='postgres'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='postgres'
DB_HOST='db'
DB_PORT='5432'
