{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Планировщик</title>

      <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <!-- {% compress css %} -->
    <!--   <link rel="stylesheet" href="{% static 'src/output.css' %}"> -->
    <!-- {% endcompress %} -->

    <script src="node_modules/htmx.org/dist/htmx.min.js"></script>
    <script src="node_modules/flowbite/dist/flowbite.min.js"></script>
    <script src="node_modules/flowbite/dist/datepicker.min.js"></script>
    <script src="node_modules/flowbite-datepicker/dist/js/datepicker.min.js"></script>
    <script>
      {% comment %} Hack to reload datepicker instances after htmx loads {% endcomment %}
      function initDatepickers() {
        document.querySelectorAll('[datepicker]').forEach(function (datepickerEl) {
          new window.Datepicker(datepickerEl);
        });
      }
    </script>
</head>

<body>
  {% include "plan_modal.html" %}

  {% include "nav.html" %}

  <div class="p-4 sm:ml-64">
    {% block content %}
    {% endblock content %}
  </div>
</body>

</html>
