<div id="map" class="flex flex-grow rounded-lg overflow-hidden">
</div>
{{ plans_json|json_script:"plans_json" }}
<!-- {{ clients_json|json_script:"clients_json" }} -->
<!-- {{ addresses_json|json_script:"addresses_json" }} -->
<script type="text/javascript">
  ymaps.ready(init);

  function init() {
    var plans = JSON.parse(document.getElementById("plans_json").textContent);
    // process plans convert all string numbers to numbers
    // giving each plan a random offset for the data to not overlap
    plans = plans.map(plan => {
        plan.address.lat = parseFloat(plan.address.lat) + (Math.random() - 0.5) / 800;
        plan.address.lon = parseFloat(plan.address.lon) + (Math.random() - 0.5) / 800;
        return plan;
    });

    var center = plans.reduce(
      (acc, plan) => [
        acc[0] + plan.address.lat,
        acc[1] + plan.address.lon,
      ],
      [0, 0],
    );
    center = [center[0] / plans.length, center[1] / plans.length];

    var myMap = new ymaps.Map("map", {
      center: center,
      zoom: 12,
    });

    const colors = ["#FF0000", "#00FF00", "#0000FF", "#FFFF00", "#00FFFF", "#FF00FF"];

    var plansByDay = Object.groupBy(plans, ({ assigned_date }) => assigned_date);

    for (var i = 0; i < Object.keys(plansByDay).length; i++) {
        var day = Object.keys(plansByDay)[i];
        var dayString = new Date(day).toLocaleDateString('ru-RU', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });
        var dayPlans = plansByDay[day];

        var dayCoords = dayPlans.map(plan => [plan.address.lat, plan.address.lon]);
        var polygonCoords = hull(dayCoords, 50);

        var dayGeoPolygon = new ymaps.Polygon([polygonCoords], {
            hintContent: dayString,
            balloonContent: dayString
        }, {
            fillColor: colors[i] + "aa",
            strokeColor: colors[i],
            opacity: 0.5,
            strokeWidth: 5
        });

        var dayPlacemarks = dayPlans.map(plan => {
            return new ymaps.Placemark(
                [ plan.address.lat, plan.address.lon ],
                {
                    balloonContentHeader: dayString,
                    balloonContent: plan.pk,
                },
                {
                    iconColor: colors[i],
                },
            );
        });

        myMap.geoObjects.add(dayGeoPolygon);
        dayPlacemarks.forEach(placemark => {
            myMap.geoObjects.add(placemark);
            placemark.events.add('balloonopen', function (e) {
                let planPk = placemark.properties.get('balloonContent');
                let plan = plans.find(p => p.pk == planPk);

                var placemarkHTML = `
                    <ul>
                        <li><b>Клиент:</b> ${plan.client.name}</li>
                        <li><b>Адрес:</b> ${plan.address.street}</li>
                        <li><b>Менеджеры:</b> ${ plan.managers.reduce((acc, m) => m.first_name + ', ' + acc, '')}</li>
                        <li><b>Работа:</b> ${ plan.worklist.reduce((acc, w) => w.name + ', ' + acc, '')}</li>
                        <li><b>Кол-во кор:</b> ${plan.box_count}</li>
                    </ul>
                    <button
                        plan-placemark
                        hx-get="/plans/create/${plan.pk}"
                        hx-target="#crud-plan-modal-form"
                        data-modal-target="crud-plan-modal" data-modal-toggle="crud-plan-modal"
                        type='button' class="font-medium text-blue-600 hover:underline"
                    >
                        Изменить
                    </button>
                `;
                placemark.properties.set('balloonContent', placemarkHTML);

                htmx.process(document.querySelector('[plan-placemark]'));
                initModals();
            });
        });
    }

    myMap.container.fitToViewport();
  }
</script>
