  <nav class="fixed top-0 z-40 w-full bg-white border-b border-gray-200">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
          </svg>
        </button>
        <a href="/" class="flex items-center ms-2 md:me-24 group">
          {% comment %} <img src="https://flowbite.com/docs/images/logo.svg" class="h-8 me-3" alt="FlowBite Logo" /> {% endcomment %}
          <svg class="w-6 h-6 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="M5 5c.6 0 1-.4 1-1a1 1 0 1 1 2 0c0 .6.4 1 1 1h1c.6 0 1-.4 1-1a1 1 0 1 1 2 0c0 .6.4 1 1 1h1c.6 0 1-.4 1-1a1 1 0 1 1 2 0c0 .6.4 1 1 1a2 2 0 0 1 2 2v1c0 .6-.4 1-1 1H4a1 1 0 0 1-1-1V7c0-1.1.9-2 2-2ZM3 19v-7c0-.6.4-1 1-1h16c.6 0 1 .4 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6-6c0-.6-.4-1-1-1a1 1 0 1 0 0 2c.6 0 1-.4 1-1Zm2 0a1 1 0 1 1 2 0c0 .6-.4 1-1 1a1 1 0 0 1-1-1Zm6 0c0-.6-.4-1-1-1a1 1 0 1 0 0 2c.6 0 1-.4 1-1ZM7 17a1 1 0 1 1 2 0c0 .6-.4 1-1 1a1 1 0 0 1-1-1Zm6 0c0-.6-.4-1-1-1a1 1 0 1 0 0 2c.6 0 1-.4 1-1Zm2 0a1 1 0 1 1 2 0c0 .6-.4 1-1 1a1 1 0 0 1-1-1Z" clip-rule="evenodd"/>
          </svg>
          <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap ms-3">Планировщик</span>
        </a>
      </div>
    </div>
  </div>
</nav>
<aside id="logo-sidebar" class="fixed top-0 left-0 z-30 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-4 pb-4 overflow-y-auto bg-white">
    <button
            hx-get="{% url 'plan_create_default' %}"
            hx-target="#crud-plan-modal-form"
            data-modal-target="crud-plan-modal" data-modal-toggle="crud-plan-modal"
            type="button"
            class="flex items-center w-full text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm p-2 group">
      <svg class="w-6 h-6 text-gray-400 transition duration-75 group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
      </svg>
      <span class="ms-3">Создать план</span>
    </button>
    <div class="border-t border-gray-200 my-4"></div>
    <ul
        class="space-y-2 font-medium"
        hx-get="{% url 'aside_buttons' %}"
        hx-trigger="load, submit from:{next #filter-form}"
      hx-vals="js:{ filter_params: formSerializer('filter-form') }"
      hx-target="this"
      hx-swap="innerHTML">
    </ul>
    <div class="border-t border-gray-200 dark:border-gray-700 my-4"></div>
    <div class="w-full">
      <h3 class="mb-5 font-bold text-gray-900 text-center">Фильтры</h3>
      <form class="space-y-3" hx-get="{% url 'plans' %}" hx-target="#plans" hx-swap="innerHTML" id="filter-form">
        <div class="flex items-center w-full">
          <label for="simple-search" class="sr-only">Search</label>
          <div class="relative w-full">
            <input name="search" type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 block w-full p-2.5" placeholder="Поиск"/>
          </div>
          <button type="submit" class="p-2.5 ms-2 text-sm font-medium text-white bg-gray-800 rounded-lg hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-700 dark:hover:bg-gray-800 dark:focus:ring-gray-800">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
            <span class="sr-only">Поиск</span>
          </button>
        </div>
        <div class="border-t border-gray-200 dark:border-gray-700"></div>
        {% comment %} TODO: Default values for daterangepicker in current week {% endcomment %}
        <div date-rangepicker class="flex items-center flex-col w-full">
          <div class="relative w-full">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
              </svg>
            </div>
            <input name="date_after" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Начало даты">
          </div>
          <span class="my-2 text-gray-500 text-sm">по</span>
          <div class="relative w-full">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
              </svg>
            </div>
            <input name="date_before" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Конец даты">
          </div>
        </div>
      </form>
      {% comment %} TODO: Toggle on/off columns in table {% endcomment %}
      <div class="border-t border-gray-200 dark:border-gray-700 my-4"></div>
      <!-- <div class="space-y-3"> -->
      <!--   <h4 class="mb-4 font-bold text-gray-900 text-center">Показать поля</h4> -->
      <!--   <div class="flex items-center"> -->
      <!--     <input type="checkbox" id="hide-2" class="w-4 h-4 rounded-sm text-gray-800 border-gray-300 focus:ring-gray-500 focus:ring-offset-gray-200 focus:ring-offset-2 focus:outline-none" /> -->
      <!--     <label for="hide-2" class="ms-2 text-gray-800">Дата</label> -->
      <!--   </div> -->
      <!--   <div class="flex items-center"> -->
      <!--     <input type="checkbox" id="hide-1" class="w-4 h-4 rounded-sm text-gray-800 border-gray-300 focus:ring-gray-500 focus:ring-offset-gray-200 focus:ring-offset-2 focus:outline-none" /> -->
      <!--     <label for="hide-1" class="ms-2 text-gray-800">Клиент</label> -->
      <!--   </div> -->
      <!--   <div class="flex items-center"> -->
      <!--     <input type="checkbox" id="hide-2" class="w-4 h-4 rounded-sm text-gray-800 border-gray-300 focus:ring-gray-500 focus:ring-offset-gray-200 focus:ring-offset-2 focus:outline-none" /> -->
      <!--     <label for="hide-2" class="ms-2 text-gray-800">Работа</label> -->
      <!--   </div> -->
      <!--   <div class="flex items-center"> -->
      <!--     <input type="checkbox" id="hide-3" class="w-4 h-4 rounded-sm text-gray-800 border-gray-300 focus:ring-gray-500 focus:ring-offset-gray-200 focus:ring-offset-2 focus:outline-none" /> -->
      <!--     <label for="hide-3" class="ms-2 text-gray-800">Менеджер</label> -->
      <!--   </div> -->
      <!--   <div class="flex items-center"> -->
      <!--     <input type="checkbox" id="hide-3" class="w-4 h-4 rounded-sm text-gray-800 border-gray-300 focus:ring-gray-500 focus:ring-offset-gray-200 focus:ring-offset-2 focus:outline-none" /> -->
      <!--     <label for="hide-3" class="ms-2 text-gray-800">Сумма отгрузки</label> -->
      <!--   </div> -->
      <!--   <div class="flex items-center"> -->
      <!--     <input type="checkbox" id="hide-3" class="w-4 h-4 rounded-sm text-gray-800 border-gray-300 focus:ring-gray-500 focus:ring-offset-gray-200 focus:ring-offset-2 focus:outline-none" /> -->
      <!--     <label for="hide-3" class="ms-2 text-gray-800">Кол-во коробок</label> -->
      <!--   </div> -->
      <!-- </div> -->
    </div>
  </aside>
